@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 370px;
    height: 550px;
    background-color: white;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.hero {
    display: flex;
    position: fixed;
    top: 0;
}

.img-hero {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.text {
    margin-top: 50px;
}
.h2 {
    color: hsl(223, 47%, 23%);
    margin-top: 70px;
    font-weight: 900;
}
.p {
    color: hsl(224, 23%, 55%);
    padding-top: 30px;
    font-weight: 500;
}

.pay {
    display: flex;
    align-items: center;
    width: 85%;
    height: 12%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    border: 1px solid hsl(225, 100%, 98%);
    justify-content: space-around;
}
a {
    font-size: 14px;
    margin-right: 15px;
    font-weight: 500;
}

.p2 {
    margin-right: 60px;
    color:hsl(223, 47%, 23%);
    font-weight: 700;
}

.music {
    margin-left: 10px;
}

.price {
    color: hsl(224, 23%, 55%);
}

.change:active{
    color: hsl(224, 23%, 55%);
}

.change {
    font-weight: 500;
}

.btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.btn1 {
    background-color:   hsl(245, 75%, 52%);
    padding: 12px;
    color: white;
    width: 300px;
    border-radius: 12px;
    text-decoration: none;
}

.btn2 {
    margin-top: 20px;
    text-decoration: none;
    color:hsl(224, 23%, 55%);
}

.btn1:active {
    background-color: hsl(224, 23%, 55%);
}

.btn2:active {
    color:  hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.name, .inst {
    text-decoration: none;
    background-color:hsl(245, 75%, 52%) ;
    color: black;
}
@media only screen and(max-width:375px) {
    .container {
        width: 70%;
        height: 85%;
    }
}
